{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Quiz{% endblock %}


{% block css %}
<link type="text/css" rel="stylesheet" href="{% static "css/quizzes.css" %}" />
{% endblock %}



{% block content %}
<a class="waves-effect waves-black btn-flat" onclick="window.history.back();"><i class="material-icons left" style="margin-right: 0px;">arrow_back_ios</i>Back</a>


<h2 class="center-align">Edit Quiz</h2>


<div class="row">
    <div class="col s12">
        <form id="quizDataForm" method="post">{% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m8">
                    <i class="material-icons text-accent-1 prefix">mode_edit</i>
                    <input class="black-text" type="text" name="quizName" id="id_quizName" value="{{ quizObject.quizName }}" autofocus required>
                    <label class="black-text" for="id_quizName">Quiz Name</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons text-accent-1 prefix">code</i>
                    <input readonly class="grey-text text-darken-1" type="text" name="quizID" id="id_quizID" value="{{ quizObject.quizID }}" required>
                    <label class="black-text text-darken-4" for="id_quizID">Quiz ID</label>
                </div>
            </div>    
            
            <div class="row">
                <div class="input-field col s12 m4">
                    <i class="material-icons text-accent-1 prefix">today</i>
                    <input type="text" name="dueDate" class="datepicker" id="id_dueDate" value="{{ dueDate }}" required>
                    <label class="black-text" for="id_dueDate">Due Date</label>
                </div>  
                <div class="input-field col s12 m4">
                    <i class="material-icons text-accent-1 prefix">schedule</i>
                    <input type="text" name="dueTime" class="timepicker" id="id_dueTime" value="{{ dueTime }}" required>
                    <label class="black-text" for="id_dueTime">Due Time</label>
                </div>  
                <div class="input-field col s12 m4">
                    <i class="material-icons text-accent-1 prefix">done</i>
                    <input class="black-text" type="number" name="passingScore" id="id_passingScore" min=0 max=1 step=1 value={{passingScore}}  required>
                    <label class="black-text" for="id_passingScore">Passing Score</label>
                </div>
            </div>



            <input hidden name="allQuestionsJSON" id="allQuestionsJSON"></input>
        </form>

        
        <!-- Questions -->
        <div id="allQuesitonsContainer">

        </div>



        <!-- FAB -->
        <div class="row">
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large accent-2-btn">
                    <i class="large material-icons">add</i>
                </a>
                <ul>
                    <li><a onclick="createQuestion('sa')" class="btn-floating accent-1-btn btn-override"><i class="material-icons left">short_text</i>Short Answer</a></li>
                    <li><a onclick="createQuestion('la')" class="btn-floating accent-1-btn btn-override"><i class="material-icons left">subject</i>Long Answer</a></li>
                    <li><a onclick="createQuestion('mc')" class="btn-floating accent-1-btn btn-override"><i class="material-icons left">radio_button_checked</i>Multiple Choice</a></li>
                    <li><a onclick="createQuestion('cb')" class="btn-floating accent-1-btn btn-override"><i class="material-icons left">check_box</i>Checkboxes</a></li>
                </ul>
            </div>
            <a class="submitButton accent-1-btn waves-effect waves-light btn" style="margin-top: 5px;" onclick="submitForm()"><i class="material-icons right">done</i>save changes</a>
        </div>
    </div>
  </div>

  <div class="row">
        
    <form method="post" action="/quizzes/deleteQuiz/" >{% csrf_token %}
        <input name="quizID" value="{{ quizObject.quizID }}" hidden/>
        <button class="btn red darken-2 right" type="submit" name="action">Delete
            <i class="material-icons right">delete</i>
        </button>
    </form>
</div>


{% endblock %}




{% block javascript %}
<script>

$( document ).ready(function() {
    initQuestions ('{{ quizObject.quizData |safe }}');
    $('.fixed-action-btn').floatingActionButton({
        direction: 'right',
        hoverEnabled: false
    });
    $('select').formSelect();
});

var questions = [];
var availableQuestionID = 0;
function initQuestions (quizJSON){
    questions = JSON.parse(quizJSON);
    
    availableQuestionID = questions[questions.length-1].questionID;
    for (k=0; k < questions.length; k++){
        $("#allQuesitonsContainer").append(generateQuesionHTML(questions[k]));
        initialiseChips(questions[k].questionType, questions[k].questionID, true, questions[k]);
        autoGradeInit(questions[k]);
        M.updateTextFields();
        updateNumberedList();
        $("#id_passingScore").attr("max", questions.length);
    }
}

class Question {
    constructor(qType, qID){
        //short ans, long ans, multiple choice, checkbox
        //sa, la, mc, cb 
        this._____var__questionType = qType;

        this._____var__questionID = qID;
    }

    get questionType(){
        return this._____var__questionType;
    }
    set questionType(x){
        this._____var__questionType = x;
    }

    get questionTitle(){
        return this._____var__questionTitle;
    }
    set questionTitle(x){
        this._____var__questionTitle = x;
    }

    get isAutoGraded(){
        return this._____var__isAutoGraded;
    }
    set isAutoGraded(x){
        this._____var__isAutoGraded = x;
    }

    get questionOptions(){
        return this._____var__questionOptions;
    }
    set questionOptions(x){
        this._____var__questionOptions = x;
    }

    get correctAnswer(){
        return this._____var__correctAnswer;
    }
    set correctAnswer(x){
        this._____var__correctAnswer = x;
    }

    get checkboxValues(){
        return this._____var__checkboxValues;
    }
    set checkboxValues(x){
        this._____var__checkboxValues = x;
    }

    get studentCheckboxValues(){
        return this._____var__studentCheckboxValues;
    }
    set studentCheckboxValues(x){
        this._____var__studentCheckboxValues = x;
    }

    get marksAwarded(){
        return this._____var__marksAwarded;
    }
    set marksAwarded(x){
        this._____var__marksAwarded = x;
    }

    get questionID(){
        return this._____var__questionID;
    }
    set questionID(x){
        this._____var__questionID = x;
    }

}


function createQuestion (qType) {
    availableQuestionID += 1;
    newQuestion = new Question(qType, availableQuestionID);
    questions.push(newQuestion);
    $("#allQuesitonsContainer").append(generateQuesionHTML(newQuestion));
    updateNumberedList();
    initialiseChips(qType, availableQuestionID, false, newQuestion);
    $("#id_passingScore").attr("max", questions.length);
}

function initialiseChips (qType, qID, isExistingQn, question){
    if (qType === "mc" || qType === "cb"){
        if (isExistingQn === false) {
            $(`.chips-placeholder.chips-identifier-${qID}`).chips({
                placeholder: 'Add options',
                secondaryPlaceholder: '+Option',
                onChipAdd: function(){chipsEdited(qID);},
                onChipDelete: function(){chipsEdited(qID);},
            });
        } else {
            formattedData = []
            for (i=0; i < question.questionOptions.length; i++){
                formattedData.push({tag: question.questionOptions[i]});
            }
            formattedData = 
            $(`.chips-placeholder.chips-identifier-${qID}`).chips({
                placeholder: 'Add options',
                secondaryPlaceholder: '+Option',
                onChipAdd: function(){chipsEdited(qID);},
                onChipDelete: function(){chipsEdited(qID);},
                data: formattedData,
            });
        }
    }
}

function updateNumberedList (){
    for (i = 0; i < questions.length; i++){
        $(`#questionNumberLabel${questions[i].questionID}`).text(`${i + 1}.`);
    }
}

function chipsEdited(qID){
    var instance = M.Chips.getInstance($(`.chips-placeholder.chips-identifier-${qID}`));
    var chipsData = instance.chipsData;

    var parsedChipsData = [];
    for (i = 0; i < chipsData.length; i++){
        parsedChipsData.push(chipsData[i].tag);
    }

    let question = questions.find((o, i) => {
        if (o.questionID === qID) {
            return true; // stop searching
        }
    });

    if (question.questionType === "cb"){
        var checkboxData = question.checkboxValues;
        if (checkboxData === undefined){
            checkboxData = {};
        }
        var newCheckboxData = {};
        var studentCheckboxData = {};
        for (i = 0; i < parsedChipsData.length; i++){
            studentCheckboxData[parsedChipsData[i]] = false;
            if (parsedChipsData[i] in checkboxData){
                newCheckboxData[parsedChipsData[i]] = checkboxData[parsedChipsData[i]];
            }
            else {
                newCheckboxData[parsedChipsData[i]] = false;
            }
        }
        
        question.checkboxValues = newCheckboxData;
        question.studentCheckboxValues = studentCheckboxData;
    }

    question.questionOptions = parsedChipsData;

    autoGradeAdd(qID);
    autoGradeAdd(qID);
}

function questionChanged (qID) {
    let question = questions.find((o, i) => {
        if (o.questionID === qID) {
            questions[i].questionTitle = $(`#QuestionTitle${qID}`).val();
            return true; // stop searching
        }
    });
}

function deleteQuestion (qID) {
    questions.find((o, i) => {
        if (o.questionID === qID) {
            questions.splice(i, 1);
            return true; // stop searching
        }
    });
    $(`.questionWrapper.question-div-identifier-id-${qID}`).remove();
    updateNumberedList();
}

function generateQuesionHTML (question) {
    
    if (question.questionType === "sa"){
        var questionTypeLabel = "Short Answer"
    } else if (question.questionType === "la"){
        var questionTypeLabel = "Long Answer"
    } else if (question.questionType === "mc"){
        var questionTypeLabel = "Multiple Choice"
    } else if (question.questionType === "cb"){
        var questionTypeLabel = "Checkboxes"
    }

    if (question.questionTitle === undefined){
        question.questionTitle = "";
    }


    //actual question
    var generatedHTML = `
    <div class="row questionWrapper z-depth-2 question-div-identifier-id-${question.questionID}">
        <div class="questionContainer">
            <div class="row  noPadding valign-wrapper">
                <div class="input-field col s12 m10 quesionInput">
                    <h1 style="margin: 0px;" id="questionNumberLabel${question.questionID}" class="prefix"></h1>
                    <textarea onfocusout="questionChanged(${question.questionID})" id="QuestionTitle${question.questionID}" class="materialize-textarea" >${question.questionTitle}</textarea>
                    <label for="QuestionTitle${question.questionID}">Question</label>
                </div>
                <div class="col s5 m2">
                    <div class="grey darken-2 z-depth-1 questionTypeLabel white-text center-align">${questionTypeLabel}</div>
                </div>
            </div>
            <div class="row right-align noPadding" style="padding-right: 10px;">
                <a class="btn-flat"><i style="font-size: 2rem;" class="material-icons large red-text" onclick="deleteQuestion(${question.questionID})">delete</i></a>
            </div>`;

    if (question.questionType === "mc" || question.questionType === "cb") {
        generatedHTML += `
        <div class="row black-text" style="padding-left: 20px; padding-right: 20px;">
            <p style="margin-bottom: 0px; margin-top: 0px;">Options to choose from</p>
            <div style="margin-top: 0px;" class="chips chips-placeholder chips-identifier-${question.questionID}" ></div>
        </div>`
    }

    //autograde selector
    if (question.questionType != "la"){
        if (question.isAutoGraded === true){
            var autoGradeCheckHTML = "checked"
        }
        else {
            var autoGradeCheckHTML = ""
        }
        generatedHTML += `
            <div class="row" style="padding-left: 20px;">
                <div class="switch">
                    Auto-grade answer
                    <label >
                        <input onchange="autoGradeAdd(${question.questionID})" type="checkbox" ${autoGradeCheckHTML}>
                        <span class="lever"></span>
                    </label>
                </div>
            </div>`;
    }


    generatedHTML += `
        </div>
    </div>`;
    return generatedHTML;
}

function autoGradeAdd(qID) {
    let question = questions.find((o, i) => {
        if (o.questionID === qID) {
            questions[i].isAutoGraded = !questions[i].isAutoGraded;
            return true; // stop searching
        }
    });
    
    if (question.isAutoGraded) {
        $(`div.question-div-identifier-id-${question.questionID.toString()} > div.questionContainer`).append(generateAutoGrade(question));
    } else {
        $(`div.question-div-identifier-id-${question.questionID.toString()} > div.questionContainer>.autoGradeContainer`).remove();
    }
    $('select').formSelect();
}

function autoGradeInit(question) {    
    if (question.isAutoGraded) {
        $(`div.question-div-identifier-id-${question.questionID.toString()} > div.questionContainer`).append(generateAutoGrade(question));
    }
    $('select').formSelect();
}

function saValidationChanged(qID) {
    let question = questions.find((o, i) => {
        if (o.questionID === qID) {
            questions[i].correctAnswer = $(`#validationAnswer${qID}`).val();
            return true; // stop searching
        }
    });
}
function mcValidationChanged(qID) {
    let question = questions.find((o, i) => {
        if (o.questionID === qID) {
            questions[i].correctAnswer = questions[i].questionOptions[parseInt($(`#validationAnswer${qID}`).val())];
            return true; // stop searching
        }
    });
}
function cbValidationChanged(qID, checkboxIndex) {
    let question = questions.find((o, i) => {
        if (o.questionID === qID) {
            var currentCheckboxValues = questions[i].checkboxValues;
            var optionChanged = questions[i].questionOptions[checkboxIndex];
            currentCheckboxValues[optionChanged] = !currentCheckboxValues[optionChanged];
            questions[i].checkboxValues = currentCheckboxValues;
            var correctAnswers = [];
            for (j = 0; j < currentCheckboxValues.length; j++) {
                if (currentCheckboxValues[j] === true) {
                    correctAnswers.push(Object.keys(currentCheckboxValues)[j]);
                }
            }
            questions[i].correctAnswer = correctAnswers;
            return true; // stop searching
        }
    });
}

function generateAutoGrade(question){
    var generatedHTML = "";
    if (question.questionType === "sa"){
        if (question.correctAnswer === undefined){
            question.correctAnswer = "";
        }
        generatedHTML += `
        <div class="row autoGradeContainer">
            <div class="input-field col s12 m6">
                <input id="validationAnswer${question.questionID}"  type="text" class="validate" onfocusout="saValidationChanged(${question.questionID})" value="${question.correctAnswer}">
                <label class="active" for="validationAnswer${question.questionID}">Answer to check against</label>
            </div>
        </div>`;
    } 
    else if (question.questionType === "mc"){
        if (question.correctAnswer === undefined){
            var hintSelectedHTML = "selected";
        }
        else {
            var hintSelectedHTML = "";
        }
        generatedHTML += `
        <div class="row autoGradeContainer">
            <div class="input-field col s12 m6">
                <select id="validationAnswer${question.questionID}" onChange="mcValidationChanged(${question.questionID})">
                    <option value="" disabled ${hintSelectedHTML}>Select correct option</option>
                    `;
        question.questionOptions.forEach(function (option, index) {
            if (option == question.correctAnswer){
                var isSelectedHTML = "selected";
            }
            else {
                var isSelectedHTML = "";
            }
            generatedHTML += `
                    <option value="${index.toString()}" ${isSelectedHTML}>${option}</option>\n`;
        });
        generatedHTML += `
                </select>
                <label>Correct Option</label>
            </div>
        </div>`;
    } 
    else if (question.questionType === "cb"){
        generatedHTML += `
        <div class="row autoGradeContainer">
            <div style="margin-top: 10px;" class="input-field col s12 m6">
            <p style="margin-top: 0px;">Select Correct Options</p>`;
        question.questionOptions.forEach(function (option, index) {
            if (question.checkboxValues[option] === true){
                var isCheckedHTML = 'checked="checked"';
            }
            else {
                var isCheckedHTML = '';
            }
            generatedHTML += `
            <p>
                <label>
                    <input type="checkbox" ${isCheckedHTML} id="checkbox-question${question.questionID}-index${index}" oninput="cbValidationChanged(${question.questionID}, ${index})"/>
                    <span>${option}</span>
                </label>
            </p>`;
        });
    }
        
    return generatedHTML;

}






function convertToJSON() {
    jsonQuestions = JSON.stringify(questions);
    $("#allQuestionsJSON").val(jsonQuestions);
}

function submitForm() {
    convertToJSON();
    $("#quizDataForm").submit();
}


    $(document).ready(function(){
        $('select').formSelect();
        $('.datepicker').datepicker();
        $('.timepicker').timepicker();
    });




    $( document ).ready(function() {
        $('select').formSelect();
        $('.courseSelectDiv').hide();
    });

    var modules = {
        {% for i in moduleObjects %}
            {{i.course.id}}: "{{i.moduleName}}",
        {% endfor %}
    };

    function selectUpdated(){
        // get selected course module
        var selectedCourseID = $("#courseSelect").val();
        // set module selections
        $('.courseSelectDiv').hide();
        $("#course" + selectedCourseID).show(400, "swing");
    }

</script>
{% endblock %}