{% extends 'base.html' %}
{% load static %}

{% block title %}View Quiz{% endblock %}


{% block css %}
<link type="text/css" rel="stylesheet" href="{% static "css/quizzes.css" %}" />
{% endblock %}



{% block content %}
<div class="row">
    <div class="col s6">
        <a class="waves-effect waves-black btn-flat" onclick="window.history.back();"><i class="material-icons left" style="margin-right: 0px;">arrow_back_ios</i>Back</a>
    </div>
    <div class="col s6">
        <h5 class="right-align" style="margin: 0px;">Quiz Preview</h5>
    </div>
</div>
<h2 class="center-align">{{ quizObject.quizName }}</h2>

<!-- Questions -->
<div id="allQuesitonsContainer">

</div>
<div style="padding-bottom: 100px; padding-top: 10px;">
    <button class="accent-1-btn btn waves-effect waves-light disabled" type="submit" name="action" style="float: right;">Submit
        <i class="material-icons right">send</i>
    </button>
</div>
{% endblock %}



{% block javascript %}
<script type="text/javascript" src="{% static "js/quizzes_view.js" %}"></script>

<script>
$( document ).ready(function() {
    $('div#allQuesitonsContainer').html(renderQuizQuestions('{{ quizObject.quizData |safe }}'));
    $('select').formSelect();
});

</script>

{% endblock %}