{% extends 'base.html' %} {% load static %} {% block title %}Question Bank{% endblock %}
<!---->{% block css %}
<style>
  /* list styling */
  ul.collection {
    border-top: none;
    border-left: none;
    border-right: none;
  }
  th,
  td {
    text-align: center;
  }

  /* Add Button */
  .addQuizBtn {
    float: right;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .actionCell > a {
    margin: 0 0.4rem;
  }

  .modal {
    border-radius: 1rem;
  }
</style>
{% endblock %} {% block content %}

<h2 class="center-align">Question Bank</h2>

<div id="all" class="col s12">
  <table style="margin-top: 10px">
    <thead>
      <tr>
        <th>Question Name</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for i in questions %}
      <tr>
        <td>{{ i.name }}</td>
        <td class="actionCell">
          <a href="/quizzes/bank/{{ i.id }}/edit">
            <i
              class="material-icons tooltipped text-accent-1"
              data-position="top"
              data-tooltip="Edit"
              >edit</i
            >
          </a>
          <a class="modal-trigger" href="#deleteModal{{ i.id }}">
            <i
              class="material-icons tooltipped text-accent-1"
              data-position="top"
              data-tooltip="Delete"
              >delete</i
            >
          </a>
        </td>
      </tr>
      <div id="deleteModal{{ i.id }}" class="modal">
        <div class="modal-content">
          <h4>Delete {{ i.name }}?</h4>
          <p>After a question bank question is deleted, it cannot be recovered.</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect btn-flat">Cancel</a>
          <a
            href="/quizzes/bank/{{ i.id }}/delete/"
            class="waves-effect btn-flat red-text"
            style="font-weight: 700"
            >Delete</a
          >
        </div>
      </div>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- add button -->
<div class="addQuizBtn">
  <a class="btn-floating btn-large accent-1" href="/quizzes/createBank/">
    <i class="large material-icons">note_add</i>
  </a>
</div>

<!--
{% for i in quizObjects %}
<div id="deleteModal{{ i.quizID }}" class="modal">
  <div class="modal-content">
    <h4>Delete {{ i.quizName }}?</h4>
    <p>After a quiz is deleted, it cannot be recovered.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect btn-flat">Cancel</a>
    <a
      href="/quizzes/{{ i.quizID }}/delete/"
      class="waves-effect btn-flat red-text"
      style="font-weight: 700"
      >Delete</a
    >
  </div>
</div>
{% endfor %}-->
{% endblock %} {% block javascript %}
<script>
  $(document).ready(function () {
    $('.tooltipped').tooltip();
    $('.modal').modal();
  });
</script>
{% endblock %}
