<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.svg" />
    <title>Edit Quiz</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@400;600;800;900&display=swap"
      rel="stylesheet" />
    <script defer="defer" type="module" src="/static/vmod/js/chunk-vendors.edbe486f.js"></script>
    <script defer="defer" type="module" src="/static/vmod/js/app.c2c0ada4.js"></script>
    <link href="/static/vmod/css/chunk-vendors.67a2388f.css" rel="stylesheet" />
    <link href="/static/vmod/css/app.cb11641d.css" rel="stylesheet" />
    <script defer="defer" src="/static/vmod/js/chunk-vendors-legacy.dbfface4.js" nomodule></script>
    <script defer="defer" src="/static/vmod/js/app-legacy.a3a9b626.js" nomodule></script>
  </head>
  <body>
    {% csrf_token %}
    <noscript
      ><strong
        >We're sorry but this site doesn't work properly without JavaScript enabled. Please enable
        it to continue.</strong
      ></noscript
    >
    <div id="app"></div>
  </body>
</html>
