{% extends 'base.html' %}
{% load static %}

{% block title %}Create Quiz{% endblock %}


{% block css %}
<link type="text/css" rel="stylesheet" href="{% static "css/quizzes.css" %}" />
{% endblock %}



{% block content %}
<a class="waves-effect waves-black btn-flat" onclick="window.history.back();"><i class="material-icons left" style="margin-right: 0px;">arrow_back_ios</i>Back</a>


<h2 class="center-align">Upload File</h2>


<div class="row">
    <div class="col s12">
        <form id="fileUploadForm" method="post" enctype="multipart/form-data" >{% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m8">
                    <i class="material-icons text-accent-1 prefix">mode_edit</i>
                    <input class="black-text" type="text" name="fileName" id="id_fileName" autofocus required>
                    <label class="black-text" for="id_fileName">File Name</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons text-accent-1 prefix">code</i>
                    <input readonly class="grey-text text-darken-1" type="text" name="fileID" id="id_fileID" value="{{ fileIDtoUse }}" required>
                    <label class="black-text text-darken-4" for="id_fileID">File ID</label>
                </div>
            </div>    
            <div class="row">
                <!--select course-->
                <div class="input-field col s12 m6">
                    <i class="material-icons text-accent-1 prefix">add</i>
                    <select id="courseSelect" name="courseSelector" onchange="selectUpdated()">
                        <option value="" disabled selected>Select Course</option>
                        {% for i in courseObjects %}
                        <option value="{{i.pk}}">{{i.courseName}}</option>
                        {% endfor %}
                    </select>
                    <label>Select Course</label>
                </div>  
                {% for i in courseIDs %}
                    <div class="input-field col s12 m6 courseSelectDiv" id="course{{ i }}">
                        <i class="material-icons text-accent-1 prefix">add</i>
                        <select id="moduleSelect" name="moduleID">
                            <option value="" disabled selected>Select module for the file</option>
                            {% for j in moduleObjects %}
                                {% if j.course.id == i %}
                                    <option value="{{j.pk}}" class="courseId{{j.course.id}} courseIdOption">{{j.moduleName}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label>Assign file to module</label>
                    </div>  
                {% endfor %}


            </div>
            <div class="row">
                <div class="col s12 m6">
                    <div class="file-field input-field">
                        <div class="btn accent-1">
                        <span>Upload File</span>
                        <input name="uploadedFile" type="file" class="validate" required>
                        </div>
                        <div class="file-path-wrapper">
                        <input class="file-path validate" name="fileName" type="text" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <button class="btn accent-1" type="submit" name="action">Upload
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>

    </div>
  </div>



{% endblock %}




{% block javascript %}
<script>

    $( document ).ready(function() {
        $('select').formSelect();
        $('.courseSelectDiv').hide();
    });

    var modules = {
        {% for i in moduleObjects %}
            {{i.course.id}}: "{{i.moduleName}}",
        {% endfor %}
    };

    function selectUpdated(){
        // get selected course module
        var selectedCourseID = $("#courseSelect").val();
        // set module selections
        $('.courseSelectDiv').hide();
        $("#course" + selectedCourseID).show(400, "swing");
    }

</script>
{% endblock %}