{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block css %}
<style>
    /* label underline focus color */
    .row .input-field input:focus {
      border-bottom: 1px solid #0e143f !important;
      box-shadow: 0 1px 0 0 #0e143f !important;
    }
  </style>
{% endblock %}

{% block content %}

<br><br>
<h2 class="center-align">Change Your Password</h2>

  
<form method="post">{% csrf_token %}

  

  <div class="row">
    <div class="input-field col s12 l12">
      <i class="material-icons blue-text prefix">mode_edit</i>
      <input class="black-text text-darken-4" type="password" name="old_password" id="id_old_password" autofocus="" required="">
      <label class="black-text text-darken-4" for="id_old_password">Old Password</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 l12">
      <i class="material-icons prefix blue-text">mode_edit</i>
      <input class="black-text text-darken-4" type="password" name="new_password1" id="id_new_password1" required="">
      <label class="black-text text-darken-4" for="id_new_password1">New Password</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 l12">
      <i class="material-icons prefix blue-text">mode_edit</i>
      <input class="black-text text-darken-4" type="password" name="new_password2" id="id_new_password2" required="">
      <label class="black-text text-darken-4" for="id_new_password2">Confirm New Password</label>
    </div>
  </div>


<h6 class="grey-text">
  <ul>
    <li>Your password can't be too similar to your other personal information.</li>
    <li>Your password can't be a commonly used password.</li>
    <li>Your password must contain at least 9 characters.</liclass="collection-item">
    <li>Your password can&#39;t be entirely numeric.</li>
  </ul>
</h6>

<br/>
  
  <button type="submit" class="btn-large waves-effect waves-light accent-2">Save changes</button>
  </form>

{% endblock %}