{% extends 'base.html' %}
{% load static %}

{% block title %}Course View{% endblock %}

{% block content %}

<h3 class="center-align">{{ course }}</h3>
<br>

{% if user.accountType != "Student" %}
<h4>Classes</h4>
<hr>
<table class="striped responsive-table">
    <thead>
        <th>Class</th>
        <th>Institution</th>
    </thead>

    <tbody>
        {% for i in classes %}
        <tr>
            <td>
                <a href="/class/{{ i.id }}/accounts">{{ i.className }}</a>
            </td>
            <td>{{ i.classInstitution }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<br><br>
<div class="row">
    <div class="col s10">
        <h4>Modules</h4> 
    </div>
    {% if user.accountType == 'Teacher' %}
    <!-- add button -->
    <div class="col s2">
        <a class="btn-floating btn-large accent-1 right" href="/module/create/{{ course.id }}"><i class="large material-icons">note_add</i></a>
    </div>
    {% endif %}
</div>
<hr>



{% for i in modules %}
<br>
<table class="striped responsive-table">
    <caption class="left-align"><h5>{{ i.moduleName }}</h5></caption>
    
    <colgroup>
        <col>
        <col>
        <col style="width: fit-content">
    </colgroup>


    {% if i.quizzesNew or i.quizzesOld %}
    <thead>
        <th>Quizzes</th>
        <th>Due Date</th>
        <th></th>
    </thead>
    <tbody>
        {% for j in i.quizzesNew %}
        <tr>
            <td>
                <a href="/quizzes/do/{{ j.quizID }}" class="markVisited">{{ j.quizName }}</a>
            </td>
            <td>{{ j.quizDueDate }}</td>
            <td style="color: red">New</td>
        </tr>
        {% endfor %}
        {% for j in i.quizzesOld %}
        <tr>
            <td>
                <a href="/quizzes/do/{{ j.quizID }}" class="markVisited">{{ j.quizName }}</a>
            </td>
            <td>{{ j.quizDueDate }}</td>
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}


    {% if i.videoLessonsNew or i.videoLessonsOld %}
    <thead>
        <th>Videos</th>
        <th></th>
    </thead>
    
    <tbody>
        {% for j in i.videoLessonsNew %}
        <tr>
            <td>
                <a href="/videoLessons/view/{{ j.videoID }}/" class="markVisited">{{ j.videoName }}</a>
            </td>
            <td></td>
            <td style="color: red">New</td>
        </tr>
        {% endfor %}
        {% for j in i.videoLessonsOld %}
        <tr>
            <td>
                <a href="/videoLessons/view/{{ j.videoID }}/" class="markVisited">{{ j.videoName }}</a>
            </td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}
    

    {% if i.fileUploadsNew or i.fileUploadsOld %}
    <thead>
        <th>Files</th>
        <th></th>
    </thead>

    <tbody>
        {% for j in i.fileUploadsNew %}
        <tr>
            <td>
                <a href="{{ j.uploadedFile.url }}" class="markVisited">{{ j.fileName }}</a>
            </td>
            <td></td>
            <td style="color: red">New</td>
        </tr>
        {% endfor %}
        {% for j in i.fileUploadsOld %}
        <tr>
            <td>
                <a href="{{ j.uploadedFile.url }}" class="markVisited">{{ j.fileName }}</a>
            </td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}

</table>
{% endfor %}

{% endblock %}