{% extends 'base.html' %} {% load static %} <br />
{% block title %}Forgot Password{% endblock %} {% block css %}
<style>
  .row .input-field input:focus {
    border-bottom: 1px solid #0e143f !important;
    box-shadow: 0 1px 0 0 #0e143f !important;
  }
</style>
{% endblock %} {% block content %}
<br />
<h2 class="center-align">Forgot Password</h2>
<h6 class="center-align">Please enter your username to reset your password.</h6>
<br />

<form method="post">
  {% csrf_token %}

  <div class="container center-align">
    <div class="row">
      <div class="input-field">
        <i class="material-icons prefix accent-1-text">account_circle</i>
        <input
          class="black-text text-darken-4"
          type="text"
          name="username"
          autofocus=""
          required=""
          id="id_username"
        />
        <label class="black-text text-darken-4" for="id_username" class="">Username</label>
      </div>
    </div>

    <div class="row">
      <div class="">
        <div class="center-align">
          <button class="btn waves-effect waves-light accent-2" type="submit" name="action">
            Reset
            <i class="material-icons right white-text">forward</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
