<!DOCTYPE html>
<html>
  <head>

    {% load static %}
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@400;600;800;900&display=swap" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/base.css" %}"/>
    <!-- Import notifs css -->
    <link type="text/css" rel="stylesheet" href="{% static "css/notifications.css" %}"/>
    {% block css %}
    {% endblock %}

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>
  <style>
    * {
      font-family: "Montserrat", "Roboto";
    }
  </style>
  
  <body>
    {% if isHome != True and user.is_authenticated %}
    <ul id="slide-out" class="sidenav sidenav-fixed">
      <li><div class="user-view">
        <div class="background">
          <img class="responsive-img" src="{% static "img/sky.jpg" %}">
        </div>
        <a href="/account/manage/"><img class="circle" style="object-fit: cover;" src="{% if user.profilePic %}{{ user.profilePic.url }}{% else %}{% static "img/blankProfile.svg" %}{% endif %}"></a>
        <a href="/account/manage/"><span class="name white-text">{{ user.username }}</span></a>
        <a href="/account/manage/"><span class="email white-text">{{ user.institution }}</span></a>
      </div></li>
      <!-- if teacher -->
      {% if user.accountType == "Teacher" %}
      <li><a href="/live/">Live Streaming</a></li>
      <li><a href="/videoLessons/manage/">Video Lessons</a></li>
      <li><a href="/fileUploads/manage/">File Uploads</a></li>
      <li><a href="/quizzes/manage/">Quizzes</a></li>
      {% endif %}

      <!-- if logged in -->
      {% if user.is_authenticated %}
      <li><a href='/classes/'>Classes</a></li>
      <li><a href='/courses/'>Courses</a></li>
      <li><a href='/account/manage/'>Manage Account</a></li>
      <li><a href='/logout/'>Log Out</a></li>
      {% else %}
      <li><a href='/login/'>Login</a></li>
      {% endif %}
    
      <a href="/" style="padding-bottom: 25px;" class="logo-container"><img class="brand-logo" src="{% static "img/StarHorizonLogoDark.png" %}" alt="Gotutor Logo"></a>
    </ul>
    
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons" style="font-size: xx-large; padding-left: 15px; padding-top: 10px;">menu</i></a>

    {% else %}
    <style>
      header, main, footer {
          padding-left: 0px;
      }
    </style>
    <!-- navbar -->
      <nav class="white black-text">
          <div class="nav-wrapper black-text">
            <a href="/"><img class="left" style="height: 65px; margin-top: 10px; margin-left: 40px; color: #f7ca23;" src="{% if isHome %}{% static "img/StarHorizonLogoDark.png" %}{% else %}{% static "img/StarHorizonLogoDark.png" %}{% endif %}"
              alt="Gotutor Logo"></a>
            <ul class="navlinks right hide-on-med-and-down black-text">
              <!-- if teacher -->
              {% if user.accountType == "Teacher" %}
              <li><a href="/live/">Live Streaming</a></li>
              <li><a href="/videoLessons/manage/">Video Lessons</a></li>
              <li><a href="/fileUploads/manage/">File Uploads</a></li>
              <li><a href="/quizzes/manage/">Quizzes</a></li>
              {% endif %}
        
              <!-- if logged in -->
              {% if user.is_authenticated %}
              <li><a href='/classes/'>Classes</a></li>
              <li><a href='/courses/'>Courses</a></li>
              <li><a href='/account/manage/'>Manage Account</a></li>
              <li><a href='/logout/'>Log Out</a></li>
              {% else %}
              <li><a href='/login/'>Login</a></li>
              {% endif %}

            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger right"><i class="material-icons black-text" style="font-size: xx-large; padding-right: 15px; padding-top: 13px;">menu</i></a>
          </div>

        <ul id="slide-out" class="sidenav sidenav-fixed hide-on-large-only">
          {% if user.is_authenticated %}
          <li><div class="user-view">
            <div class="background">
              <img class="responsive-img" src="{% static "img/sky.jpg" %}">
            </div>
            <a href="/account/manage/"><img class="circle" style="object-fit: cover;" src="{% if user.profilePic %}{{ user.profilePic.url }}{% else %}{% static "img/blankProfile.svg" %}{% endif %}"></a>
            <a href="/account/manage/"><span class="name white-text">{{ user.username }}</span></a>
            <a href="/account/manage/"><span class="email white-text">{{ user.institution }}</span></a>
          </div></li>
          {% endif %}
          <!-- if teacher -->
          {% if user.accountType == "Teacher" %}
          <li><a href="/live/">Live Streaming</a></li>
          <li><a href="/videoLessons/manage/">Video Lessons</a></li>
          <li><a href="/fileUploads/manage/">File Uploads</a></li>
          <li><a href="/quizzes/manage/">Quizzes</a></li>
          {% endif %}

          <!-- if logged in -->
          {% if user.is_authenticated %}
          <li><a href='/classes/'>Classes</a></li>
          <li><a href='/courses/'>Courses</a></li>
          <li><a href='/account/manage/'>Manage Account</a></li>
          <li><a href='/logout/'>Log Out</a></li>
          {% else %}
          <li><a href='/login/' style="padding-top: 50px;">Login</a></li>
          {% endif %}
        
          <a href="/" style="height: 25px; position: absolute; bottom: 50px;" class="logo-container"><img class="brand-logo" src="{% static "img/StarHorizonLogoDark.png" %}" alt="Star Horizon Logo"></a>
        </ul>
      </nav>
    {% endif %}



    <main>
    {% if notAuthorised != True %}
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>

      {% block fullWidthContent %}
      {% endblock %}




      <!--JavaScript at end of body for optimized loading-->
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
      <script type="text/javascript" src="{% static "js/notifications.js" %}"></script>
      <script>
        $('.sidenav').sidenav();
      </script>
      {% block javascript %}
      {% endblock %}

      {% if notification or error %}
      <!-- JS for modals -->
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('#baseModal');
          var instances = M.Modal.init(elems, {onCloseEnd: modalClosed});
          var instance = M.Modal.getInstance($("#baseModal"));
          instance.open();
        });
        
        function modalClosed(){
          {% if onModalCloseRedirect %}
          window.location.replace("{{ onModalCloseRedirect }}")
          {% endif %}
        }

        
      
        {% if error %}        
        const successNotification = window.createNotification({
          theme: 'warning',
          showDuration: 0,
          {% if onModalCloseRedirect %}
          onclick: function(window.location.replace("{{ onModalCloseRedirect }}"));
          {% endif %}
          });
          // Invoke success notification
          successNotification({ 
              message: '{{error}}' 
          });
        {% endif %}
        {% if notification %}
        const successNotification = window.createNotification({
          theme: 'success',
          showDuration: 10000
        });
        // Invoke success notification
        successNotification({ 
            message: '{{notification}}' 
        });
        {% endif %}
        




      </script>
      {% endif %}


    {% else %}
      <!--JavaScript at end of body for optimized loading-->
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>


      <!-- Modals -->
      <div id="baseModal" class="modal">
        <div class="modal-content">
          
          <h4 class="center-align">You are not authorised to view this page.</h4>
        </div>
        <div style="border-top: 1px solid; border-color: white;" class="modal-footer">
          <a href="/" class="modal-close waves-effect waves-green btn-flat">Home</a>
        </div>
      </div>
      <!-- JS for modals -->
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('#baseModal');
          var instances = M.Modal.init(elems, {dismissible: false});
          var instance = M.Modal.getInstance($("#baseModal"));
          instance.open();
        });
      </script>

    {% endif %}

    {% if user.is_authenticated %}
    <script>
      $(document).ready(function(){
        setInterval(addTime, 10000);
      });

      function addTime() {
        fetch("/addTime/{{ user.username }}");
      }
    </script>
    {% endif %}
    </main>
  

  </body>

</html>